<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445332128406-0vjsvpn8sem7dah1anhica3mib8j59ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445332128406-0vjsvpn8sem7dah1anhica3mib8j59ok</string>
	<key>API_KEY</key>
	<string>AIzaSyB6B8FasVHBCyUkb3DxJWNvJBSd79roinM</string>
	<key>GCM_SENDER_ID</key>
	<string>445332128406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogi.messup</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-39888</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-39888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:445332128406:ios:39d2ddb8a7d1a93d</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-app-39888.firebaseio.com</string>
</dict>
</plist>